
body{
  background-color: #F5F5F5;
  width: 100%;
}




/* Nav Styles */

#header-bar{
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
}
#header-title{
  font-weight: bold;
  font-size: 32px;
  margin: 31px 0px 31px 160px;
}

#sign-in-btn{ 
  border-radius: 10px;
  font-weight: 800;
  font-size: 18px;
  margin: 10px 160px 0px 25px;
  padding: 10px 25px;
  color: #006A50;
}





/* Banner Style */
#banner{
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
  gap: 68px;
  margin: 0px 160px 80px 160px;
  padding: 80px 60px;
  background-color: #C6E4D6;
  margin: 120px 160px 80px 160px;
  border-radius: 24px;
} 

.bangladesh{
  font-weight: medium;
  font-size: 24px;
  color: #09A15C;
}

.idea{
  font-weight: bold;
  font-size: 56px;
  color: #0E0E0E;
}

.banner-image{
  margin: 80px 10px 100px 64px;
}








/* shared style */
.btn-primary{
  background-color: #6a001c;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
  padding: 17px 34px;
  border-radius: 8px;
}
.btn-primary-01{
  background-color: #5490F5;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
}
.btn-primary-02{
  background-color: #09A15C;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
}
.btn-primary-03{
  background-color: #FFC239;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
}










/* Section style */
.section-01{
  margin: 80px 160px;
}

.division_flex{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 2%;
}

section div ul li{
  list-style: none;
}
.section-box{
  background-color: #FFFFFF;
  height: 260px;
  width: 24%;
  border-radius: 19px;
}

.box-image{
  padding: 24px 214px 24px 4px;
  height: 64px;
  width: 64px;
}
.title{
  font-weight: bold;
  font-size: 20px;
}
.paragraph{
  font-weight: 400;
  font-size: 16px;
  word-wrap: break-word;
}




/* Vision Section Style */

.vision-head{
  margin: 0px 160px 0px 160px;
}
.section-titlee{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 12px;
  text-align: left;
  margin: 80px 160px 0px 160px;
}

.section-description{
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-top: 12px;
}

.vision-topic{
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin: 32px 160px;

}
.vision-01{
  padding: 30px;
  background-color: #bbcbe7;
  border-radius: 16px;
}
.vision-02{
  padding: 30px;
  background-color: #C6E4D6;
  border-radius: 16px;
}
.vision-03{
  padding: 30px;
  background-color: #F7EBCF;
  border-radius: 16px;
}
.vision-footer{
  margin: 0px 160px;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
}
.vision-yunus{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0%;
}
.vision-yunus-p{
  font-size: 16px;
margin-top: 0%;
}


/* your opinion style */

.caption{
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  margin: 180px 160px 20px 160px;
}
.table-div{
  /* height: 450px; */
  background-color: #ffffff;
  margin: 32px 160px 160px 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 16px;
}

.table-div-inner{
  margin: 32px;
}



table{
  width: 100%;
  text-align: center;
}

.table-ul{
  display: flex;
  justify-content: space-between;
}

.option{
  margin-right: 100px;
}

th{
  background-color: #C6E4D6;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}
td{
  padding: 24px 24px;
}
.opinion-button{
  font-size: 16px;
  font-weight: bold;
  background-color: #C6E4D6;
  height: 44px;
  width: 152px;
  border-radius: 12px;
}







/* Recent News Style */
.news-div{
  margin: 0% 160px;
}
.recent-news{
  font-weight: bold;
  font-size: 40px;
}




/* .recent-news-title-style */
.news-desk{
  margin: 20px 160px 20px 160px;
  background-color: #FFFFFF;
  border-radius: 24px;
  padding: 45px;
}


.news-flex{
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 24px;
}


.news-title{
  font-weight: bold;
  font-size: 32px;

}
.news-chanal-name{
  height: 40px;
  width: 134px;
}

.news-content{
word-wrap: break-word;
max-width: 700px;
}




.news-title-div{
    margin: 0px;
    flex: 2;
}

.satelite-image{
  max-width: 400px;

  flex: 1;
  height: auto;
  border-radius: 24px;
  margin:  0px;
}





/* Donate Today Style */
.donate-today{
  text-align: center;
}
.donate-discription{
  font-weight: bold;
  font-size: 40px;
  margin: 5px;
  padding: 5px;
}
.donate-box{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.donate-01{
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 240px;
  height: 90px;
  font-weight: bold;
  font-size: 40px;
  /* padding: 10px; */
  padding-top: 38px;
}
.donate-02{
  border-radius: 16px;
  background-color: #C6E4D6;
  width: 240px;
  height: 90px;
  font-weight: bold;
  font-size: 40px;
  padding-top: 38px;
  
}
.input-donat{
  height: 45px;
  width: 1200px;
  margin: 32px ;
}


/* footer style */

.footer{
  background-color: #C6E4D6;
  margin: 160px;
  height: 395px;
  border-radius: 24px;
}
.footer{
  text-align: center;
}
.footer-title{
  font-weight: bold;
  font-size: 40px;
  padding-top: 80px;
}